[Unit]
Description=Keycloak SSO Server
After=syslog.target network.target mysql.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
#Environment=KC_BOOTSTRAP_ADMIN_USERNAME=
#Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=
User=keycloak
Group=keycloak
LimitNOFILE=102642
PIDFile=/run/keycloak/keycloak.pid
ExecStart=/opt/keycloak/bin/kc.sh start

[Install]
WantedBy=multi-user.target